@charset "utf-8";

/* ======================================================
 * home.css
 * ------------------------------------------------------
 * @media print, screen and (min-width: 768px)
 * - Common
 * - Header
 * - Gnav
 * - Main
 * - Assist
 * - Footer
 * - Page Component
 * - Clearfix
 * PC Media Queries
 * @media only screen and (max-width: 767px)
 * - Common
 * - Header
 * - Gnav
 * - Main
 * - Assist
 * - Footer
 * - Page Component
 * - Clearfix
 * SP Media Queries
 * Print
====================================================== */

/* ======================================================
 * PC
====================================================== */
@media print, screen and (min-width: 768px) {
  /* ------------------------------------------------------
   * Common
  ------------------------------------------------------ */
  /* ----- font ----- */

  /* ----- a ----- */

  /* ----- opacity ----- */

  /* ----- transition ----- */

  /* ----- sprite ----- */

  /* ------------------------------------------------------
   * Header
  ------------------------------------------------------ */

  /* ------------------------------------------------------
   * Gnav
  ------------------------------------------------------ */

  /* ------------------------------------------------------
   * Main
  ------------------------------------------------------ */

  /* ------------------------------------------------------
   * Assist
  ------------------------------------------------------ */

  /* ------------------------------------------------------
   * Footer
  ------------------------------------------------------ */

  /* ------------------------------------------------------
   * Page Component
  ------------------------------------------------------ */

  /* ------------------------------------------------------
   * Clearfix
  ------------------------------------------------------ */
  .clearfix::after {
    display: block;
    clear: both;
    content: "";
  }
}

/* ======================================================
 * PC Media Queries
====================================================== */
/***
@media screen and (min-width: 1921px) {
}
@media screen and (min-width: 768px) and (max-width: 1920px) {
}
***/


/* ======================================================
 * SP
====================================================== */
@media only screen and (max-width: 767px) {
  /* ------------------------------------------------------
   * Common
  ------------------------------------------------------ */
  /* ----- font ----- */
  .home-product-layout .product_heading .product_title {
    font-family: "Noto Sans", "Noto Sans CJK JP", "�q���M�m�p�S Pro W3", "Hiragino Kaku Gothic Pro", "���C���I", Meiryo, Osaka, "�l�r �o�S�V�b�N", "MS PGothic", sans-serif;
  }

  /* ----- a ----- */

  /* ----- opacity ----- */

  /* ----- transition ----- */

  /* ----- sprite ----- */

  /* ------------------------------------------------------
   * Header
  ------------------------------------------------------ */

  /* ------------------------------------------------------
   * Gnav
  ------------------------------------------------------ */

  /* ------------------------------------------------------
   * Main
  ------------------------------------------------------ */

  /* ------------------------------------------------------
   * Assist
  ------------------------------------------------------ */

  /* ------------------------------------------------------
   * Footer
  ------------------------------------------------------ */

  /* ------------------------------------------------------
   * Page Component
  ------------------------------------------------------ */

  /* ------------------------------------------------------
   * Clearfix
  ------------------------------------------------------ */
  .clearfix::after {
    display: block;
    clear: both;
    content: "";
  }
}


/* ======================================================
 * SP Media Queries
====================================================== */
/***
@media only screen and (min-width: 320px) and (max-width: 767px) {
}
@media only screen and (max-width: 736px) {
}
@media only screen and (max-width: 667px) {
}
@media only screen and (max-width: 640px) {
}
@media only screen and (max-width: 568px) {
}
@media only screen and (max-width: 480px) {
}
@media only screen and (max-width: 414px) {
}
@media only screen and (max-width: 375px) {
}
@media only screen and (max-width: 360px) {
}
@media only screen and (max-width: 320px) {
}
***/


/* ======================================================
 * Print
====================================================== */
@media print {
  body {
    width: 1280px;
  }
  .home-product-layout {
    width: 100%;
  }
  .home-product-layout .category-index-layout.type-list {
    background-color: #fff;
  }
}
