@charset "utf-8";

/* ======================================================
 * layout_sp.css
 * ------------------------------------------------------
 * @media only screen and (max-width: 767px)
 * - Common
 * - Header
 * - Gnav
 * - Main
 * - Assist
 * - Footer
 * - Other
 * - Clearfix
 * Media Queries
====================================================== */

@media only screen and (max-width: 767px) {
  /* ------------------------------------------------------
   * Common
  ------------------------------------------------------ */
  /* ----- font ----- */

  /* ----- a ----- */

  /* ----- opacity ----- */

  /* ----- transition ----- */

  /* ----- sprite ----- */

  /* ------------------------------------------------------
   * Header
  ------------------------------------------------------ */

  /* ------------------------------------------------------
   * Gnav
  ------------------------------------------------------ */

  /* ------------------------------------------------------
   * Main
  ------------------------------------------------------ */

  /* ------------------------------------------------------
   * Assist
  ------------------------------------------------------ */

  /* ------------------------------------------------------
   * Footer
  ------------------------------------------------------ */
  /* ------------------------------------------------------
   * Other
  ------------------------------------------------------ */

  /* ------------------------------------------------------
   * Clearfix
  ------------------------------------------------------ */
  .DUMMY::after {
    display: block;
    clear: both;
    content: "";
  }
}


/* ======================================================
 * Media Queries
====================================================== */
/***
@media only screen and (min-width: 320px) and (max-width: 767px) {
}
@media only screen and (max-width: 736px) {
}
@media only screen and (max-width: 667px) {
}
@media only screen and (max-width: 640px) {
}
@media only screen and (max-width: 568px) {
}
@media only screen and (max-width: 480px) {
}
@media only screen and (max-width: 414px) {
}
@media only screen and (max-width: 375px) {
}
@media only screen and (max-width: 360px) {
}
@media only screen and (max-width: 320px) {
}
***/
