@charset "utf-8";

/* ======================================================
 * layout_pc.css
 * ------------------------------------------------------
 * @media print, screen and (min-width: 768px)
 * - Common
 * - Header
 * - Gnav
 * - Main
 * - Assist
 * - Footer
 * - Other
 * - Clearfix
 * Media Queries
 * Print
====================================================== */

@media print, screen and (min-width: 768px) {
  /* ------------------------------------------------------
   * Common
  ------------------------------------------------------ */
  /* ----- font ----- */
  
  /* ----- a ----- */

  /* ----- opacity ----- */

  /* ----- transition ----- */

  /* ----- sprite ----- */

  /* ------------------------------------------------------
   * Header
  ------------------------------------------------------ */
  .Header {
  }
  .HeaderBody {
  }

  /* ----- header-identity ----- */
  .header-identity {
  }
  .header-identity .identity_logo {
  }
  .header-identity .identity_logo img {
  }

  /* ----- header-utility ----- */
  .header-utility {
  }
  /* ------------------------------------------------------
   * Gnav
  ------------------------------------------------------ */

  /* ------------------------------------------------------
   * Main
  ------------------------------------------------------ */
  .Main {
    overflow-x: hidden;
  }
  /* ------------------------------------------------------
   * Assist
  ------------------------------------------------------ */

  /* ------------------------------------------------------
   * Footer
  ------------------------------------------------------ */

  /* ------------------------------------------------------
   * Other
  ------------------------------------------------------ */

  /* ------------------------------------------------------
   * Clearfix
  ------------------------------------------------------ */
  .DUMMY::after {
    display: block;
    clear: both;
    content: "";
  }
}


/* ======================================================
 * Media Queries
====================================================== */
@media screen and (min-width: 768px) and (max-width: 1400px) {
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
}

@media screen and (min-width: 768px) and (max-width: 960px) {
}

/* ======================================================
 * Print
====================================================== */
@media print {
  body {
    width: 1280px !important;
    margin: 0 auto !important;
  }
  body[data-browser="chrome"] {
    zoom: .85;
  }
  .pc-hidden,
  .Pagetop {
    display: none !important;
  }
  .Header {
    position: absolute !important;
  }
}
